.hero{
    position: relative;
    width: 100%;
    height: 40vh;
    /* background-color: aqua; */
    background-image: url(./img/lampada.jpg);
    background-size: 100% 90%;
    background-repeat: no-repeat;
}
.hero h1{
    color: red;
}
.hero p{
    position: absolute;
    left: 10%;
    color:white;
}
.hero button{
    position: absolute;
    width: 100px;
    left: 15%;
    margin-top: 50px;
}
button:hover{
    background-color: red;
    color:white;
    padding-left: 15px;
    text-align: center;
}
