.section{
    background-color: rgb(248, 4, 4);
    height: 40vh;
    width: 100%;
}
.section button{
    position:relative;
    margin: 30px;
    right: 20px;
    background-color: rgb(238, 231, 231);
}
.section button:hover{
    background-color: aqua;
    color: black;
}